@model VideoStore.WebClient.ViewModels.MediaDetailViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>


<div>
    <h4>MediaDetailViewModel</h4>
    <hr/>
    <dl class="dl-horizontal">
    </dl>
    Average rating: @Model.AverageRating
    <br/>
    @Html.ActionLink("Create Review", "WriteReview", new{media = Model.Media.Id})
</div>
<p>
    @Html.ActionLink("Back to List", "ListMedia")
</p>
